= simple_form_for @movie do |f|
  = f.input :title
  = f.input :description
  = f.input :released_on
  = f.input :poster_url
  = f.input :tagline
  = f.input :tmdb_id
  = f.input :imdb_id
  = f.button :submit
